<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>YIE,阿尔山,AERSHAN,AES</string>
		<string>AKU,阿克苏,AGESU,AKS</string>
		<string>AAT,阿勒泰,ALETAI,ALT</string>
		<string>NGQ,阿里,ALI,AL</string>
		<string>AKA,安康,ANKANG,AK</string>
		<string>AQG,安庆,ANQING,AQ</string>
		<string>AOG,鞍山,ANSHAN,AS</string>
		<string>AVA,安顺,ANSHUN,AS</string>
	</array>
	<key>B</key>
	<array>
		<string>AEB,百色,BAISE,BS</string>
		<string>BPX,昌都地区,BANGDA,BD</string>
		<string>BSD,保山,BAOSHAN,BS</string>
		<string>BAV,包头,BAOTOU,BT</string>
		<string>RLK,巴彦淖尔,BAYANNAOER,BYNR</string>
		<string>BHY,北海,BEIHAI,BH</string>
		<string>PEK,北京,BEIJING,BJ</string>
		<string>BFU,蚌埠,BENGBU,BB</string>
		<string>BPL,博尔塔拉蒙古自治州,BOERTAOLAMENGGUZIZHIZHOU,BETLMGZZZ</string>
	</array>
	<key>C</key>
	<array>
		<string>NBS,长白山,CHANGBAISHAN,CBS</string>
		<string>CGQ,长春,CHANGCHUN,CC</string>
		<string>CGD,常德,CHANGDE,CD</string>
		<string>CSX,长沙,CHANGSHA,CS</string>
		<string>CIH,长治,CHANGZHI,CZ</string>
		<string>CZX,常州,CHANGZHOU,CZ</string>
		<string>CHG,朝阳,CHAOYANG,CY</string>
		<string>CTU,成都,CHENGDU,CD</string>
		<string>CIF,赤峰,CHIFENG,CF</string>
		<string>CKG,重庆,CHONGQING,CQ</string>
	</array>
	<key>D</key>
	<array>
		<string>DLU,大理,DALI,DL</string>
		<string>DLC,大连,DALIAN,DL</string>
		<string>DDG,丹东,DANDONG,DD</string>
		<string>DQA,大庆,DAQING,DQ</string>
		<string>DAT,大同,DATONG,DT</string>
		<string>DAX,达州,DAXIAN,DX</string>
		<string>DIG,迪庆,DIQING,DQ</string>
		<string>DOY,东营,DONGYING,DY</string>
		<string>DNH,敦煌,DUNHUANG,DH</string>
	</array>
	<key>E</key>
	<array>
		<string>DSN,鄂尔多斯,EERDUOSI,EEDS</string>
		<string>ENH,恩施,ENSHI,ES</string>
		<string>ERL,二连浩特,ERLIANHAOTE,ELHT</string>
	</array>
	<key>F</key>
	<array>
		<string>FUO,佛山,FOSHAN,FS</string>
		<string>FUG,阜阳,FUYANG,FY</string>
		<string>FYN,富蕴,FUYUN,FY</string>
		<string>FOC,福州,FUZHOU,FZ</string>
	</array>
	<key>G</key>
	<array>
		<string>KOW,赣州,GANZHOU,GZ</string>
		<string>GOQ,格尔木,GEERMU,GEM</string>
		<string>GHN,广汉,GUANGHAN,GH</string>
		<string>GYS,广元,GUANGYUAN,GY</string>
		<string>CAN,广州,GUANGZHOU,GZ</string>
		<string>KWL,桂林,GUILIN,GL</string>
		<string>KWE,贵阳,GUIYANG,GY</string>
		<string>GYU,固原,GUYUAN,GY</string>
	</array>
	<key>H</key>
	<array>
		<string>HRB,哈尔滨,HAERBIN,HRB</string>
		<string>HAK,海口,HAIKOU,HK</string>
		<string>HLD,海拉尔,HAILAER,HLE</string>
		<string>HMI,哈密,HAMI,HM</string>
		<string>HDG,邯郸,HANDAN,HD</string>
		<string>HGH,杭州,HANGZHOU,HZ</string>
		<string>HZG,汉中,HANZHONG,HZ</string>
		<string>HFE,合肥,HEFEI,HF</string>
		<string>HEK,黑河,HEIHE,HH</string>
		<string>HNY,衡阳,HENGYANG,HY</string>
		<string>HTN,和田,HETAN,HT</string>
		<string>HIA,淮安,HUAIAN,HA</string>
		<string>HJJ,怀化,HUAIHUA,HH</string>
		<string>TXN,黄山,HUANGSHAN,HS</string>
		<string>HYN,黄岩,HUANGYAN,HY</string>
		<string>HET,呼和浩特,HUHEHAOTE,HHHT</string>
	</array>
	<key>I</key>
	<array/>
	<key>J</key>
	<array>
		<string>JMU,佳木斯,JIAMUSI,JMS</string>
		<string>KNC,吉安,JIAN,JA</string>
		<string>JGN,嘉峪关,JIAYUGUAN,JYG</string>
		<string>SWA,揭阳,JIEYANG,JY</string>
		<string>JIL,吉林,JILIN,JL</string>
		<string>TNA,济南,JINAN,JN</string>
		<string>JIC,金昌,JINCHANG,JC</string>
		<string>JDZ,景德镇,JINDEZHEN,JDZ</string>
		<string>JGS,井冈山,JINGGANGSHAN,JGS</string>
		<string>JNG,济宁,JINING,JL</string>
		<string>JJN,晋江,JINJIANG,JJ</string>
		<string>JNZ,锦州,JINZHOU,JZ</string>
		<string>JIU,九江,JIUJIANG,JJ</string>
		<string>CHW,酒泉,JIUQUAN,JQ</string>
		<string>JZH,九寨沟,JIUZHAIGOU,JZG</string>
		<string>JXA,鸡西,JIXI,JX</string>
	</array>
	<key>K</key>
	<array>
		<string>KJI,喀纳斯,KANASI,KNS</string>
		<string>KGT,康定,KANGDING,KD</string>
		<string>KHG,喀什,KASHI,KS</string>
		<string>KRY,克拉玛依,KELAMAYI,KLMY</string>
		<string>KCA,库车,KUCHE,KC</string>
		<string>KRL,库尔勒,KUERLE,KEL</string>
		<string>KMG,昆明,KUNMING,KM</string>
	</array>
	<key>L</key>
	<array>
		<string>LHW,兰州,LANZHOU,LZ</string>
		<string>LXA,拉萨,LASA,LS</string>
		<string>LCX,连城,LIANCHENG,LC</string>
		<string>LYG,连云港,LIANYUNGANG,LYG</string>
		<string>LLB,荔波,LIBO,LB</string>
		<string>LJG,丽江,LIJIANG,LJ</string>
		<string>LNJ,临沧,LINCANG,LC</string>
		<string>LYI,临沂,LINYI,LY</string>
		<string>LZY,林芝,LINZHI,LZ</string>
		<string>HZH,黎平,LIPING,LP</string>
		<string>LZH,柳州,LIUZHOU,LZ</string>
		<string>LYA,洛阳,LUOYANG,LY</string>
		<string>LZO,泸州,LUZHOU,LZ</string>
	</array>
	<key>M</key>
	<array>
		<string>LUM,芒市,MANSHI,MS</string>
		<string>NZH,满洲里,MANZHOULI,MZL</string>
		<string>MXZ,梅州,MEIZHOU,MZ</string>
		<string>MIG,绵阳,MIANYANG,MY</string>
		<string>OHE,漠河,MOHE,MH</string>
		<string>MDG,牡丹江,MUDANJIANG,MDJ</string>
	</array>
	<key>N</key>
	<array>
		<string>NLT,那拉提,NALATI,NLT</string>
		<string>KHN,南昌,NANCHANG,NC</string>
		<string>NAO,南充,NANCHONG,NC</string>
		<string>NKG,南京,NANJING,NJ</string>
		<string>NNG,南宁,NANNING,NN</string>
		<string>NTG,南通,NANTONG,NT</string>
		<string>NNY,南阳,NANYANG,NY</string>
		<string>NGB,宁波,NINGBO,NB</string>
	</array>
	<key>O</key>
	<array/>
	<key>P</key>
	<array>
		<string>PZI,攀枝花,PANZHIHUA,PZH</string>
	</array>
	<key>Q</key>
	<array>
		<string>IQM,且末,QIEMO,QM</string>
		<string>TAO,青岛,QINGDAO,QD</string>
		<string>IQN,庆阳,QINGYANG,QY</string>
		<string>SHP,秦皇岛,QINHUANGDAO,QHD</string>
		<string>NDG,齐齐哈尔,QIQIHAER,QQHE</string>
		<string>QHU,泉州,QUANZHOU,QZ</string>
		<string>JUZ,衢州,QUZHOU,QZ</string>
	</array>
	<key>R</key>
	<array>
		<string>RKZ,日喀则,RIKEZE,RKZ</string>
	</array>
	<key>S</key>
	<array>
		<string>HPG,神农架,SHENGNONGJIA,SNJ</string>
		<string>SYX,三亚,SANYA,SY</string>
		<string>SHA,上海,SHANGHAI,SH</string>
		<string>SHS,沙市,SHASHI,SS</string>
		<string>SHE,沈阳,SHENYANG,SY</string>
		<string>SZX,深圳,SHENZHEN,SZ</string>
		<string>SJW,石家庄,SHIJIAZHUANG,SJZ</string>
		<string>SYM,思茅,SIMAO,SM</string>
		<string>SZV,苏州,SUZHOU,SZ</string>
	</array>
	<key>T</key>
	<array>
		<string>TCG,塔城,TACHENG,TC</string>
		<string>TYN,太原,TAIYUAN,TY</string>
		<string>TVS,唐山,TANGSHAN,TS</string>
		<string>TCZ,腾冲,TENGCHONG,TC</string>
		<string>TSN,天津,TIANJIN,TJ</string>
		<string>THQ,天水,TIANSHUI,TS</string>
		<string>TNH,通化,TONGHUA,TH</string>
		<string>TGO,通辽,TONGLIAO,TL</string>
		<string>TEN,铜仁,TONGREN,TR</string>
		<string>TLQ,吐鲁番,TULUFAN,TLF</string>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<string>WXN,万县,WANXIAN,WX</string>
		<string>WEF,潍坊,WEIFANG,WF</string>
		<string>WEH,威海,WEIHAI,WH</string>
		<string>WNH,文山壮族苗族自治州,WENSHAN,WS</string>
		<string>WNZ,温州,WENZHOU,WZ</string>
		<string>WUA,乌海,WUHAI,WH</string>
		<string>WUH,武汉,WUHAN,WH</string>
		<string>HLH,乌兰浩特,WULANHAOTE,WLHT</string>
		<string>URC,乌鲁木齐,WULUMUQI,WLMQ</string>
		<string>WUX,无锡,WUXI,WX</string>
		<string>WUS,武夷山,WUYISHAN,WYS</string>
		<string>WUZ,梧州,WUZHOU,WZ</string>
	</array>
	<key>X</key>
	<array>
		<string>XMN,厦门,XIAMEN,XM</string>
		<string>XIY,西安,XIAN,XA</string>
		<string>DIG,香格里拉,XIANGGELILA,XGLL</string>
		<string>XFN,襄阳,XIANGYANG,XY</string>
		<string>XIC,西昌,XICHANG,XC</string>
		<string>XIL,锡林浩特,XILINHAOTE,XLHT</string>
		<string>ACX,兴义,XINGYI,XY</string>
		<string>XNN,西宁,XINING,XN</string>
		<string>JHG,西双版纳,XISHUANGBANNA,XSBN</string>
		<string>XUZ,徐州,XUZHOU,XZ</string>
	</array>
	<key>Y</key>
	<array>
		<string>YIC,宜春,YICHUN,YC</string>
		<string>ENY,延安,YANAN,YA</string>
		<string>YNZ,盐城,YANCHENG,YC</string>
		<string>YNJ,延吉,YANJI,YJ</string>
		<string>YNT,烟台,YANTAI,YT</string>
		<string>YBP,宜宾,YIBIN,YB</string>
		<string>YIH,宜昌,YICHANG,YC</string>
		<string>LDS,伊春,YICHUN,YC</string>
		<string>INC,银川,YINCHUAN,YC</string>
		<string>YIN,伊宁,YINING,YN</string>
		<string>YIW,义乌,YIWU,YW</string>
		<string>LLF,永州,YONGZHOU,YZ</string>
		<string>YTY,扬州,YANGZHOU,YZ</string>
		<string>UYN,榆林,YULIN,YL</string>
		<string>YCU,运城,YUNCHENG,YC</string>
		<string>YUS,玉树,YUSHU,YS</string>
	</array>
	<key>Z</key>
	<array>
		<string>DYG,张家界,ZHANGJIAJIE,ZJJ</string>
		<string>YZY,张掖,ZHANGYE,ZY</string>
		<string>ZHA,湛江,ZHANJIANG,ZJ</string>
		<string>ZAT,昭通,ZHAOTONG,ZT</string>
		<string>CGO,郑州,ZHENGZHOU,ZZ</string>
		<string>ZHY,中卫,ZHONGWEI,ZW</string>
		<string>JIQ,舟白,ZHOUBAI,ZB</string>
		<string>HSN,舟山(普陀山),ZHOUSHAN,ZS</string>
		<string>ZUH,珠海,ZHUHAI,ZH</string>
		<string>ZYI,遵义,ZUNYI,ZY</string>
	</array>
	<key>热门城市</key>
	<array>
		<string>SZX,深圳,SHENZHEN,SZ</string>
		<string>PEK,北京,BEIJING,BJ</string>
		<string>SHA,上海,SHANGHAI,SH</string>
		<string>CAN,广州,GUANGZHOU,GZ</string>
		<string>CTU,成都,CHENGDU,CD</string>
		<string>HGH,杭州,HANGZHOU,HZ</string>
		<string>CSX,长沙,CHANGSHA,CS</string>
		<string>CKG,重庆,CHONGQING,CQ</string>
		<string>KMG,昆明,KUNMING,KM</string>
		<string>XIY,西安,XIAN,XA</string>
		<string>WUH,武汉,WUHAN,WH</string>
		<string>NKG,南京,NANJING,NJ</string>
		<string>TAO,青岛,QINGDAO,QD</string>
		<string>SYX,三亚,SANYA,SY</string>
		<string>XMN,厦门,XIAMEN,XM</string>
	</array>
</dict>
</plist>
